<h2>Include Stories and Photos</h2>
<!-- add Photo -->
<h3>Add Photos From Your Journey!</h3>
<div id='photo-container'>
<label id='photo-list-label'></label>
</div>
<form id="photo-form" enctype="multipart/form-data">
  <fieldset>
    <input id='vacationID' type='hidden' name='photo[vacation_id]' value={{vacation.id}}>
    <label id="choose-label">Choose a File</label>
    <input id='img' type="file" class="form-control-file" name="photo[img]" id="photo-input">
    <label>Description</label>
      <input id='caption' type="text" name="photo[caption]" required='true'>
    <input type="submit" name="submit" value="Upload">
  </fieldset>
</form>
<hr>
<!-- add Story -->
<h3>Add Stories About Your Adventures!</h3>
<div id='story-container'></div>
<form id='add-story'>
  <input type='hidden' name='story[vacation_id]' value={{vacation.id}}>
  <label>Title</label><br>
  <input id='story-title-field' type=text name=story[title]><br>
  <label>Content</label><br>
  <textarea id='story-content-field' type=text name=story[content] rows="10" cols="50"></textarea><br>
  <button type='submit' type="button">
  Add Story
  </button>
</form>
<hr>
<button id='skip' type="button">
Skip This Part
</button>
<button id='done' type="button">
Done
</button>
