<div class='content-page-container'>
  <div>
<h2>Include Stories and Photos</h2>
<!-- add Photo -->
<h4>Add Photos From Your Journey!</h4>
<div id='photo-container'>
<label class='success' id='photo-list-label'></label>
</div>
<form id="photo-form" enctype="multipart/form-data">
  <fieldset>
    <input id='vacationID' type='hidden' name='photo[vacation_id]' value={{vacation.id}}>
    <!-- <label id="choose-label button">Choose a File</label> -->
    <input id='img' type="file" class="form-control-file" name="photo[img]" id="photo-input" style='background:none;'>

    <label>Caption</label>
      <input id='caption' type="text" name="photo[caption]" required='true'>
    <input type="submit" name="submit" value="Upload" class='button'>
  </fieldset>
</form>
<hr>
<!-- add Story -->
<h4>Add Stories About Your Adventures!</h4>
<div id='story-container'>
<label class='success' id='story-list-label'></label><br>
</div>
<form id='add-story'>
  <input type='hidden' name='story[vacation_id]' value={{vacation.id}}>
  <label>Title</label><br>
  <input id='story-title-field' type=text name=story[title]><br>
  <label>Content</label><br>
  <textarea id='story-content-field' type=text style='white-space: pre-wrap;' name=story[content] rows="10" cols="50" required='true'></textarea><br>
  <button type='submit' type="button">
  Add Story
  </button>
</form>
<hr>
<button id='skip' data-vacationid={{vacation.id}} type="button">
Skip This Part
</button>
<button id='done' data-vacationid={{vacation.id}} type="button">
Done
</button>
</div>
</div>
