<h3>Add Your Adventure to Your Collection</h3>
<form id='add-vacation-form'>
  <label>Country</label>
  <input class='add-input' type='text' required='true' name='vacation[country]' placeholder="Country">
  <label>State</label>
  <input class='add-input' type='text' name='vacation[state]' placeholder="State">
  <label>Month</label>
  <input class='add-input' type='text' name='vacation[month]' placeholder='Month'>
  <label>Year</label>
  <input class='add-input' type="text" name="vacation[year]" placeholder="Year">
  <label>Companions</label>
  <input class='add-input' type='text' name='vacation[companions]' placeholder='Travel Companions'>
  <br>
  <br>
  <button>Add a Photo</button>
  <button>Add a Story</button>
  <br>
  <input type="button" id='cancel-new-vacation' value="Cancel">
  <input type='submit' value='save'>
</form>
