<h3>Add Your Adventure to Your Collection</h3>
<form>
  <input type='text' required='true' name='vacation[country]' placeholder="Country">
  <input type='text' name='vacation[state]' placeholder="State">
  <input type='text' name='vacation[month]' placeholder='Month'>
  <input type="text" name="vacation[year]" placeholder="Year">
  <input type='text' name='vacation[companions]' placeholder='Travel Companions'>
  <button>Add a Photo</button>
  <button>Add a Story</button>
  <button>Cancel</button>
  <button type='submit'>Save</button>
