<h3>Add Your Adventure to Your Collection</h3>
<form id='add-vacation-form'>
  <label>Country</label>
  <input type='text' required='true' name='vacation[country]' placeholder="Country">
  <label>State</label>
  <input type='text' name='vacation[state]' placeholder="State">
  <label>Month</label>
  <input type='text' name='vacation[month]' placeholder='Month'>
  <label>Year</label>
  <input type="text" name="vacation[year]" placeholder="Year">
  <label>Companions</label>
  <input type='text' name='vacation[companions]' placeholder='Travel Companions'>
  <br>
  <br>
  <button>Add a Photo</button>
  <button>Add a Story</button>
  <br>
  <button>Cancel</button>
  <button type='submit'>Save</button>
</form>
