<!--log in forms-->
<div>
  <p id='login-quote' class='quote'>“I'll teach you how to jump on the wind's back, and then away we go.”<br>
― J.M. Barrie, Peter Pan</p>
  <section style='margin:auto;max-width:450px;'class='light-mobile'>
   <form id='log-in'>
     <h3 id='loginmessage'>Log in</h3>
     <input class='login' name="credentials[email]" type='text' placeholder="username">
     <input class='login' name="credentials[password]" type="password" placeholder="password">
     <button type='submit'>log in</button>
   </form>
   <div class='right-align-children'>
   <h4><a id='sign-up-link'>New User? Sign up here!</a></h4></div>
   <form id='sign-up'>
     <h3 >First time here?</h3><h4> Pick a username and Password to sign up</h4>
     <input class='login' name="credentials[email]" type='text' placeholder="username">
     <input class='login' name="credentials[password]" type="password" placeholder="password">
     <input class='login' name="credentials[password_confirmation]" type="password" placeholder="confirm password">
     <button type='submit'>Sign Up</button>
   </form>

  </section>
</div>
<div class='tagline center-children'>
<p >Keep the treasured memories of your adventures together in one place.</p>
</div>
