@import'./fonts';
@import'./colors';
.background{
  background-image: url('https://github.com/dianamcnulty/travelerskeep-client/blob/master/assets/images/bgsea-balloon.png?raw=true');
  background-repeat: no-repeat;
  background-size: 100%;
}
.background-logged-in {
  background-image: url('https://github.com/dianamcnulty/travelerskeep-client/blob/master/assets/images/bg-sea.jpg?raw=true');
  background-repeat: no-repeat;
  background-size: 100%;
}
.sunset {
  background-image: url('https://github.com/dianamcnulty/travelerskeep-client/blob/master/assets/images/bgsunset.png?raw=true');
  background-repeat: no-repeat;
  background-size: 100%;
}
body {
  font-family: $paragraph-font;
  background-color: transparent;
  color: $dark-brown;
}
hr {
  border-color: $beige;
  margin-top:0;
  margin-bottom: 0;
}
a {
  color: $link-color;
  cursor: pointer;
}
a:hover {
  color: $link-color;
}
h1, .title{
  font-family: $headline-font;
  color: $warm-brown;
}
input, select, textarea {
  background-color: rgba(227, 237, 239, 0.8);
  border-radius: 0;
}
select {
  height: 25px;
}
.select-state {
  display: none;
}
.title{
  display: inline-block;
}
.quote {
  font-style: italic;
}
.light-text {
  color: $beige;
}
// .nav-link {
//   background-color: beige;
// }
.navbar {
  background: rgba(0, 0, 0, 0.0);
  display:inline-block;
  float:right;
  position:absolute;
  top:20px;
  right: 20px;
  margin-bottom: 0;
  z-index: 1000
}
.navbar-toggle {
  margin:auto;
  border-radius: 0;
  background-color: $pale-blue;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: $border-dash;
}
.navbar-default, .navbar-collapse {
  border:hidden;
}
.navbar-default .navbar-nav > li > a {
  color: $link-color;
}

.story-list {
  display: inline-block;
  float: right;
  width: 32%;
}

.content-page-container {
  background-image:
    url('https://github.com/dianamcnulty/travelerskeep-client/blob/master/assets/images/distressedBG.jpg?raw=true');
  min-height: 300px;
  width: 80%;
  margin:auto;
  overflow: auto;
  padding: 10px 25px;
}
.modal-content {
  background-image:
    url('https://github.com/dianamcnulty/travelerskeep-client/blob/master/assets/images/canvas.jpg?raw=true');
  width: 80%;
  margin:auto;
  overflow: auto;
  padding: 10px;
  border-radius: 0;
}
.content-page-boxes {
  width: 100%;
  margin:auto;
}
.feature {
  display: inline-block;
  float: left;
  width: 65%;
}
.story {
  max-height: 200px;
  overflow-y: scroll;
  white-space: pre-wrap;
}
.feature-photo  {
  max-height:300px;
  max-width:100%;
}
.caption {
  text-align: center;
}
.sidebar-button {
  width:95%;
}
.danger-button {
  color: $warning-text;
}
textarea {
  max-width: 95%;
  height:100px;
}
.alert {
  margin:0;
}
.success {
  color: $success-text;
}
.warning {
  color: $warning-text;
}
.story {
  border: 1px dashed $border-dash;
}
button, .button{
  background: $beige;
  border: 1px dashed $border-dash;
  border-radius: 0px;
  cursor: pointer;
  margin: 5px;
}
.center-children {
  text-align: center;
}
.copyright {
  position: fixed;
  bottom: 0px;
  right: 15px;
  color: $pale-blue;
}
.copyright:hover {
  color:$pale-blue;
}
.right-align-children {
text-align: right;

}
.tagline{
  position: absolute;
  bottom: 80px;
  margin-left:auto;
  margin-right: auto;
  left: 0;
right: 0;
  max-width:420px;
 // margin-top: 180px;
 padding: 25px;
 background-color: rgba(227, 237, 239, 0.5);
 font-size: 20px;
 border: 1px dashed $border-dash;
 color:$warm-brown;
}
@media screen and (min-width: 960px) {
    html {
        background-position-y: -100px;
    }
    .sunset {
      background-position-y: 0;
    }
}
@media screen and (max-width: 600px) {
  .background {
      background-size: 600px;
      background-position:top;
  }
  .sunset {
    background-position-y: 0;
  }
  .light-mobile {
    background-color: rgba(227, 237, 239, 0.8);
    padding: 10px;
    border: 1px dashed $border-dash;
  }
}
@media screen and (max-width: 474px) {

  .navbar-collapse.in {
    background-color: rgba(227, 237, 239, 0.8);
  }
  // .tagline{
  //  margin-top: 80px;
  // }
}
@media screen and (max-width: 766px) {
  .navbar-collapse.in {
      background-color: rgba(227, 237, 239, 0.8);
    }
}
